@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
    font-family: "Rubik", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    position: sticky;
    margin: auto;
    z-index: 1000;
    background-color: #fff;
}

.header_conteudo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: auto;
    width: 90%;
}

.header_navegacao {
    font-size: 14px;
    align-items: center;
    display: flex;
}


.header_navegacao img {
    width: 75px;
}

.header_navegacao nav {
    width: 500px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_navegacao nav a span {
    position: relative;
    z-index: 1;
    transition: all .3s cubic-bezier(.14,.07,.03,.98);

}

.header_navegacao nav a{
    position: relative;
    text-decoration: none;
    overflow: hidden;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0);
    color: #2e2e2e;
    letter-spacing: -1px;
    font-weight: 470;
    transition: all .4s cubic-bezier(.14,.07,.03,.98);
}

.header_navegacao nav a::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: #2e2e2e;
    transform: translate(0, 58px);
    transition: all .4s cubic-bezier(.14,.07,.03,.98);
}

.header_navegacao nav a:hover::before {
    background-color: #0084ff;
    transform: translate(0, 0px);
}

.header_navegacao nav a:hover span{
    color: #fff;
}

.header_entrar {
    display: flex;
    gap: 15px;
}

.header_entrar button {
    letter-spacing: 0px;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;
}

.header_entrar_login {
    overflow: hidden;
    display: flex;
    gap: 5px;
    align-items: center;
    color: #fff;
    background-color: #0084ff;
    border: 1px solid #0084ff;
    transition: all .2s cubic-bezier(.14,.07,.03,.98);
}

.header_entrar_login:hover {
    background-color: #004b92;
    border-color: #004b92;

}

.header_entrar_cadastro {
    border: 1px solid #0084ff;
    color: #0084ff;
    background: none;
    transition: all .2s cubic-bezier(.14,.07,.03,.98);
}

.header_entrar_cadastro:hover {
    border-color: #0084ff;
    background-color: #0084ff;
    color: #fff;
}

.hero {
    background: linear-gradient(to bottom, #ffffff00, #0084ff85), url(../IMG/FundoArduino.webp);
    height: 80vh;
    width: 90vw;
    margin: auto;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero_conteudo {
    padding-top: 100px;
    max-width: 1440px;
    width: 90%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.hero_conteudo h1 {
    font-size: 66px;
    margin-right: auto;
    max-width: 50%;
    line-height: 1;
    color: #ffffff;
    font-family: "Plus Jakarta Sans", sans-serif;
}

.hero_conteudo p {
    text-align: left;
    margin-left: auto;
    max-width: 40%;
    font-size: 26px;
    line-height: 1;
    color: #ffffff;
}

.hero_menu {
    z-index: 10;
    max-width: 1440px;
    width: 90%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.hero_menu nav{
    border-radius: 5px;
    background-color: #52525262;
    backdrop-filter: blur(15px);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 500px;
    font-size: 22px;
}

.hero_menu hr {
    border: 1px solid #2e2e2e28;
    margin: auto 40px;
}

.hero_menu nav a span {
    position: relative;
    z-index: 1;
    transition: all .5s cubic-bezier(.14,.07,.03,.98);
}

.hero_menu nav a {
    display: flex;
    gap: 5px;
    align-items: center;
    position: relative;
    overflow: hidden;
    font-family: "Plus Jakarta Sans", sans-serif;
    padding: 40px;
    text-decoration: none;
    color: #ffffff;
    transition: all .4s cubic-bezier(.14,.07,.03,.98);
}

.hero_menu nav a::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: #2e2e2e;
    transform: translate(0, 110px);
    transition: all .4s cubic-bezier(.14,.07,.03,.98);
}

.hero_menu nav a:hover::before {
    background-color: #0084ff;
    transform: translate(0, 0px);
}

.hero_menu nav a:hover span{
    color: #fff;
    padding-left: 15px;
}

.buard {
    padding-top: 200px;
    max-width: 1440px;
    width: 90%;
    margin: auto;
}

.buard_titulo {
    display: flex;
    gap: 30px;
    flex-direction: column;
}

.buard_titulo h1 {
    color: #0084ff;
    font-size: 24px;
}

.buard_titulo h2{
    color: #005aad;
    width: min(900px, 100%);
    font-family: "Plus Jakarta Sans", sans-serif;
    text-align: start;
    font-size: 64px;
}

.buard_titulo p {
    color: #2e2e2ecc;
    font-size: 14px;
    font-weight: 500;
    text-align: start;
    font-family: "Plus Jakarta Sans", sans-serif;
}
